.copyright-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 133px;
  width: 1312px;

  .footer__pic {
    transform: none;
    width: 210px;
  }

  .footer__copyright {
    transform: none;
  }
}

@media screen and (max-width: 1439px) {
  .copyright-wrapper {
    width: 912px;

    .footer__pic {
      margin-top: -10px;
      width: 218px;
      img {
        transform: translate(31px, 2px);
      }
    }
  }
}
