.copyright-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 133px;
  width: 1312px;

  .footer__pic {
    transform: none;
    width: 210px;
  }

  .footer__copyright {
    transform: none;
  }
}

.one-new {
  .copyright-wrapper {
    margin: 115px auto 0;
  }
}

@media screen and (max-width: 1439px) {
  .copyright-wrapper {
    width: 912px;

    .footer__pic {
      margin-top: -10px;
      width: 218px;
      img {
        transform: translate(31px, 2px);
      }
    }
  }
  .one-new .copyright-wrapper {
    margin: -144px auto 0;
  }
}

@media screen and (max-width: 1023px) {
  .copyright-wrapper {
    width: 672px;
    margin-top: 101px;
  }
}

@media screen and (max-width: 767px) {
  .copyright-wrapper {
    width: 226px;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* position: relative; */
    margin: 0;
    margin-top: 82px;
    margin-left: 25px;
  }

  .footer__pic {
    margin-left: 2px;
  }
}
