@use "sass:math";

.aboutPage {
  min-height: 4885px;
  overflow: hidden;

  .common-font-11 {
    color: $textColor2;
  }
  .header__logo {
    color: $textColor2;
  }
  .header__list.burger-active ~ .common-header-btn {
    color: $textColor1;
  }
  .header__link {
    color: #848484;
  }
}

@function stripUnit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@function rem($pxValue) {
  @return #{calc(stripUnit($pxValue) / stripUnit(16))}rem;
}

@function lh($lh, $fs) {
  @return calc($lh/$fs);
}

html {
  font-size: 16px;
}
.about-title {
  width: 100%;
  background-image: url(../img/About/about-title.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 648px;
  margin: 96px auto 0;
  display: inline-block;
}
.about-title__text-wrapper {
  margin: 230px auto;
  width: 383px;
}
.about-title__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: rem(36px);
  line-height: lh(44, 36);

  width: 383px;
  color: #ffffff;
}
.about-title__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: rem(14);
  line-height: lh(24, 14);
  text-align: center;
  color: #ffffff;
  margin-top: -25px;
}

.about-center {
  width: 100%;
  margin: 140px auto 0;
  position: relative;
}
.about-center__top-text-wrapper {
  width: 383px;
}
.about-center__top-title {
  font-weight: 700;
  width: 100%;
  color: #080808;
  font-size: rem(36px);
  line-height: lh(44, 36);
}
.about-center__top-descr {
  width: 100%;
  font-size: rem(14);
  line-height: lh(24, 14);
  color: #080808;
}

.about-slide__pic-wrapper {
  width: 552px;
  height: 444px;
  .about-slide__pic {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
    }
  }
}
.about-center__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.about-page__slider {
  // padding-left: 1000px;
}

.about-center__body {
  padding-left: 18.3%;
  column-gap: 7.214953%;
}

.about-center__left {
  margin-top: 63px;

  .slide__pagination {
    margin-left: 0;
    margin-top: 33px;

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.06em;

      /* 5 */

      color: #828282;

      opacity: 0.5;
    }
  }
}

.about-center__top-descr {
  margin-top: -25px;
  letter-spacing: -0.01em;
  /* font-size: 14px; */
  /* line-height: 24px; */
}

.about-center__right {
  width: 661px;
}

.about-slide__pic-wrapper {
  width: 552px;
  height: 444px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.about-descr {
  width: 100%;
  position: relative;
  margin-top: 140px;
}
.about-descr__content {
  margin: 0 auto 0;
  width: 739px;
}
.about-descr__top {
}
.about-descr__top-template {
  width: 311px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 22px;
}
.about-descr__small-text-block {
}
.years {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: rem(56px);
  line-height: lh(68, 56);

  color: #080808;
}
.years__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: rem(14);
  line-height: 132%;

  color: #080808;
}
.about-descr__top-down-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: rem(14);
  line-height: lh(24, 14);
  width: 382px;
  position: absolute;
  right: 280px;
  top: 428px;
  color: #080808;
}

.about-position-img-2 {
  position: absolute;
  right: 0;
  top: 430px;
}
.about__img-1 {
  padding-bottom: 51.4406779661%;
  width: 43.7288135593%;

  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
  }
}
.about-img-2 {
  width: 168px;
  height: 216px;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.about-descr__content {
  width: 1181px;
}

.about-descr__top {
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  column-gap: 132px;
}

.about-descr__top-template {
  width: 303px;
  margin-top: 34px;
  display: grid;

  grid-template-rows: 1fr 1fr;

  grid-template-columns: 1fr 1fr;
  grid-row-gap: 18px;
  grid-column-gap: 80px;
  grid-template-rows: 137px;
}

.years__descr {
  margin-top: -50px;
}

.about-descr__small-text-block:last-of-type {
  width: 98px;
}

.about-descr__bottom {
  position: relative;
  width: 1145px;
  margin: 0 auto 0;
  height: 1019px;
}
.about-descr__bottom-template {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 572.5px 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 179px;
  grid-row-gap: 46px;
  grid-column-gap: 58px;
}
.about-descr__bottom-text-wrapper {
  padding-top: 5.5%;
  padding-left: 20%;
}
.about-descr__bottom-name {
  width: 383px;
  font-weight: 700;
  font-size: rem(36);
  line-height: lh(44, 36);
  color: #080808;
}
.about-descr__bottom-status {
  width: 167px;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: lh(22, 16);
  color: #080808;

  margin-top: -15px;
  // line-height: 22px;
}
.about-descr__bottom-descr {
  font-weight: 300;
  font-size: rem(20);
  line-height: 170.66%;
  color: #080808;
  opacity: 0.7;

  margin-top: 49px;
  width: 383px;
  position: relative;
  ::before {
    content: "“";
    position: absolute;
    top: 0;
    left: -10px;
  }
}
.about-descr__bottom-descr::before {
  content: "“";
  position: absolute;
  top: 2px;
  left: -49px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: rem(36);
  line-height: rem(44);

  color: #080808;
}
.about-img-3 {
  position: relative;
  padding: 0 0 39%;
  width: 100%;
  height: 84%;

  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
  }
}
.about-img-4 {
  position: relative;
  width: 55%;

  left: 50px;

  height: 78%;
  left: 50px;
  top: -2px;
  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
  }
}
.about-descr__bottom-statistic-wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 120px;

  width: 431px;

  .about-descr__small-text-block:first-of-type {
    .years__descr {
      width: 59px;
    }
  }

  .about-descr__small-text-block:nth-of-type(2) {
    transform: translate(12px, 0);

    .years__descr {
      width: 96px;
    }
  }
}

.about-descr__preBottom-text {
  font-style: normal;
  font-weight: 300;
  font-size: rem(14);
  line-height: lh(24, 14);

  width: 516px;
  text-align: initial;
  position: absolute;
  right: -2px;
  margin-top: -148px;
}

.picture-about {
  background-color: black;
  margin-top: 140px;
  .picture__title {
    color: #ffffff;
    transform: translate(-18px, 346px);
  }

  .picture_descr {
    color: #ffffff;

    opacity: 0.6;
  }
}
.about-contacts__background {
  background-color: #ececec;
  height: 657px;
  width: 100vw;
  margin: 0;
  display: inline-block;

  .copyright-wrapper {
    margin: 117px auto 0;
  }
}
.about-contacts {
  // display: inline-block;
  width: 1040px;
  margin: 0 auto;
}
.about-contatcts__question {
  height: 96px;
  width: 424px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: rem(36);
  line-height: lh(51, 36);

  margin-top: 137px;

  color: #080808;
}
.about-contacts__bottom-wrapper {
  margin-top: 135px;

  grid-column-gap: 209px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  .blog__form {
    left: -25px;

    .blog-footer_email {
    }
    .blog__arrow-right {
      right: 13px;
      top: 3px;
    }
    .blog__hor-line {
      transform: translate(23px, -3px);
      background: #515151;
    }
  }
}

.about-contacts__bottom-text {
  width: 366px;
  justify-self: center;
  margin-top: -7px;
  margin-left: 23px;
  font-style: normal;
  font-weight: 300;
  font-size: rem(14);
  line-height: lh(24, 14);
  color: #080808;
}
.about-contacts__etc-wrapper {
  display: flex;
  justify-content: space-between;

  grid-column: 2/3;
  width: 357px;
  justify-self: center;
  margin-left: 13px;
}
.about-contacts__email {
  width: 100px;
  height: 11px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: rem(11);
  line-height: lh(13, 11);
  letter-spacing: 0.06em;

  color: #080808;
}
.about-contacts__language {
  width: 78px;
  margin: 0;
  width: 76px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  a {
    height: 11px;
    width: 16px;
    font-weight: 600;
    font-size: rem(11);
    line-height: lh(13, 11);
    letter-spacing: 0.06em;
    color: #080808;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    .header__list {
      transform: translate(-0, -1px);
    }
  }
}

@media screen and (max-width: 1439px) {
  html {
    font-size: 14px !important;
  }

  body.aboutPage {
    font-size: 16px;
  }

  .about-center {
    height: 430px;
  }

  .about-descr__content {
    width: 100%;
  }

  .about-img-2 {
    display: none;
  }

  .about-img-3 {
    padding: 0px 0 71%;
    width: 75%;
    height: 21%;
  }

  .about-descr__top-down-text {
    right: 102px;
  }

  .about-descr__bottom {
  }

  .about-descr__bottom-template {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
  }

  .about-descr__preBottom-text {
    right: 132px;
  }

  .about-descr__bottom-statistic-wrapper {
    transform: translate(-26px);
  }

  .about-contacts {
    width: 855px;
  }

  .about-contacts__bottom-wrapper {
    grid-column-gap: 98px;
  }

  .about-contacts__bottom-wrapper {
    .blog__form {
      left: -6px;
    }
    .blog__arrow-right {
      right: 23px;
    }
  }

  .aboutPage {
    min-height: unset;
  }

  .about-center {
    margin: 0px auto 0;
  }

  .about-center__body {
    margin-bottom: 25px;

    flex-direction: column;
    justify-content: flex-start;

    width: 570px;
    right: 23px;
  }

  .about-center__left {
    margin-bottom: 25px;
  }
  .about-slide__pic-wrapper {
    width: 549px;
    height: 238px;
  }

  .about-descr {
    margin-top: 172px;
  }
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 13px !important;
  }
  .about-center__body {
    position: static;
    /* right: 0; */
    /* left: 0; */
    margin: 0 auto;
    padding: 0;
    /* margin-bottom: 86px; */
  }

  .about-center__top-text-wrapper {
    width: 383px;
    margin: 0 auto;
    .slide__pagination {
      margin: 0 auto;
      margin-top: 33px;
    }
  }

  .about-center__right {
    margin: 0 auto;
    display: block;
    width: 477px;
    height: 367px;
    overflow: hidden;
    .about-swiper {
      height: 500px;
    }
  }

  .about-descr {
    margin-top: 340px;
  }

  .about-descr__top {
    column-gap: 72px;
  }

  .about-descr__top-template {
    margin-top: -5px;
  }

  .about-descr__top-down-text {
    right: 10px;
    top: 333px;
  }

  .about-descr__bottom {
    width: 100%;
  }

  .about-img-3 {
    margin: 0 auto;
    padding: 0 0 47%;
    width: 43%;
    height: 0%;

    margin-top: -100px;
  }

  .about-img-4 {
    display: none;
  }

  .about-descr__bottom-statistic-wrapper {
    transform: translate(-0px);
    margin: 0 auto;
    margin-top: -110px;
    margin-bottom: 31px;
  }

  .about-descr__preBottom-text {
    margin: 0 auto;
    position: static;
  }

  .about-descr__bottom-template {
    grid-template-columns: 1fr;

    margin-top: 88px;
  }

  .about-contacts {
    width: 710px;

    .blog__form {
      left: 0;
      transform: none;
      display: grid;
      grid-column: 1/3;
    }
  }

  .about-contatcts__question {
    margin: 0 auto;
    width: 533px;
    margin-top: 103px;
  }

  .about-contacts__bottom-wrapper {
    margin-top: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .blog__form {
      left: 0;
      transform: none;
      /* display: grid; */
      transform: translate(0, 39px);
      grid-column: 1/3;
      .blog__arrow-right {
        top: 10px;
        right: 52px;
      }
      input {
        /* height: 45px; */
        width: 100%;
      }
      .blog__hor-line {
        width: 90%;
      }
    }
  }

  .about-contacts__bottom-text {
    width: 86%;
    margin: 0 auto;
    margin-top: 58px;
  }

  .about-contacts__etc-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    width: 117px;
  }
  .aboutPage {
    .copyright-wrapper {
      margin-top: 86px;
    }
  }

  .about-contacts__background {
    background-color: #ececec;
    height: 555px;
  }
}

@media screen and (max-width: 767px) {
  .about-title {
    height: 350px;
    margin: 55px auto 0;
  }

  .about-title__text-wrapper {
    margin: 155px auto;
    width: 100%;
  }

  .about-center__body {
    width: 100%;
  }

  .about-center__left {
    width: 100%;
  }

  .about-center__top-title {
    text-align: center;
  }

  .about-center__top-descr {
    text-align: center;
    width: 99%;
  }
  .about-center__left {
    .slide__pagination {
      display: none;
    }
  }

  .about-center__right {
    width: 100%;
  }

  .about-descr {
    margin-top: 150px;
  }

  .about-descr__top {
    flex-direction: column;
    justify-content: center;
  }

  .about__img-1 {
    margin: 0 auto;
    padding-bottom: 64.440678%;
    width: 73%;
  }

  .about-descr__top-template {
    width: 75%;

    margin: 0 auto;
  }

  .about-descr__top-down-text {
    width: 90%;
    margin: 212px auto 0;
  }
  .about-center__top-text-wrapper {
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
  }
  .about-descr__bottom-name {
    text-align: center;
  }

  .about-descr__bottom-status {
    text-align: center;
    width: 100%;
  }

  .about-descr__bottom-descr {
    /* width: 61%; */
    width: 335px;
    width: 98%;
    text-align: center;
    margin-top: 26px;
  }

  .about-descr__bottom-statistic-wrapper {
    width: 80%;
    margin: -410px auto 31px;
  }

  .about-descr__bottom-text-wrapper {
    padding: 0;
  }

  .about-descr__bottom-template {
    margin-top: 138px;
  }

  .about-img-3 {
    margin: -263px auto 0;
    padding: 0 0 71%;
    width: 70%;
    height: 0%;
  }

  .about-descr__bottom-statistic-wrapper {
    /* height: 127px; */
    display: flex;
    flex-direction: column;
    width: 50px;
    margin: -410px 0 0 34px;
    .about-descr__small-text-block:nth-of-type(2) {
      transform: none;
    }
  }

  .about-descr__preBottom-text {
    width: 185px;
    margin-top: -323px;
    margin-left: 154px;
  }

  .picture-about .picture__title {
    transform: translate(-0px, 276px);
  }

  .about-contacts__background {
    width: 100%;
    height: 571px;
  }

  .about-contacts {
    width: 90%;
  }

  .about-contatcts__question {
    width: 100%;
    font-size: 1.8rem;
  }

  .about-contacts__bottom-wrapper {
    grid-column-gap: 0;
    grid-template-columns: 70% 1fr;

    .blog__form {
      width: 90%;

      .blog__arrow-right {
        right: 10px;
      }
    }

    .blog-footer_email {
      width: 91%;
    }
  }

  .about-contacts__bottom-text {
    width: 100%;
  }

  .about-contacts__language {
    width: 100px;
  }

  .about-contacts__background .copyright-wrapper {
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 1000px) {
  .aboutPage {
    .picture__pic_6 {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 376px) {
  .about-title__title {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .about__img-1 {
    margin: 0 auto;
    padding-bottom: 39.440678%;
    width: 60%;
    height: 11%;

    img {
      object-fit: cover;
    }
  }

  .about-descr__top-template {
    width: 40%;
  }

  .about-descr__top-down-text {
    position: static;
    width: 71%;
    margin: 28px auto 0;
  }

  .about-descr__bottom-name {
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .about-descr__bottom-statistic-wrapper {
    display: none;
  }

  .about-descr__preBottom-text {
    margin: 0 auto;
    margin-top: -323px;
  }
}
