@import "./components/mixins.scss";
@import "vars.scss";

html {
  font-size: 16;
}

.blog-gallery-list_mobile {
  display: none !important;
}

.rotate180 {
  transform: rotate(180deg);
  transition: 0.3s;
}

.blog-gallery {
  display: block;
  width: 1312px;
  margin: 0 auto;
}

.blog-gallery_top-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1046px;
  margin: 0 auto;
  margin-top: 172px;
}

.blog-gallery_title {
  font-size: 2.25em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;

  line-height: 44px;
  @include lh(44, 36);

  color: #080808;
}

.blog-gallery-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;

  @include fs(11);
  @include lh(13, 11);

  letter-spacing: 0.06em;

  color: #828282;
  width: 337px;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  text-decoration: none;

  a:hover {
    color: $textColor2;
    text-decoration: none;

    line-height: 15px;

    border-bottom: 1px solid #3a3e4b;
  }
}

.blog-gallery__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-rows: repeat(3, 653px);

  grid-row-gap: 8px;
  min-height: 2054px;
  margin-top: 88px;
}

.blog-gallery__card {
  background-repeat: no-repeat;
}
.blog-gallery__card_1 {
  background: #f2f2f2;
}

.blog-gallery__card_2 {
  background-image: url(../img/Blog/Blog-pic-2.webp);
}

.blog-gallery__card_3 {
  background-image: url(../img/Blog/blog-pic-3.webp);
}

.blog-gallery__card_4 {
  background-image: url(../img/Blog/blog-pic-4.webp);
  margin-left: 3px;
}

.blog-gallery__card_5 {
  background-image: url(../img/Blog/Blog-pic-2.webp);
}

.blog-gallery__card_6 {
  background: #f2f2f2;
}
.blog-gallery__card_1,
.blog-gallery__card_2,
.blog-gallery__card_3,
.blog-gallery__card_4,
.blog-gallery__card_5,
.blog-gallery__card_6 {
  translate: 0.2s;
}

.blog-gallery__card_1:hover,
.blog-gallery__card_2:hover,
.blog-gallery__card_3:hover,
.blog-gallery__card_4:hover,
.blog-gallery__card_5:hover,
.blog-gallery__card_6:hover {
  outline: 2px dashed #3d1f15; /* Ширина, вид и цвет рамки */
  translate: 0.2s;
  outline-offset: -10px; /* Выводим рамку внутри элемента */
}

.blog-gallery__card_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;

  /* 1 */
  color: #080808;
  width: 365px;
  margin-top: 329px;
  margin-left: 56px;
}

.blog-gallery__card_descr {
  width: 433px;
  height: 72px;
  left: 120px;
  top: 832px;

  /* p1 / light / 14px */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  /* 1 */
  color: #080808;
  opacity: 0.7;
  margin-left: 56px;
  margin-top: -7px;
}

.blog-gallery__card_wrapper-btn {
  margin-top: 60px;
  color: black;
  margin-left: 58px;
}

.blog-gallery__card_btn {
  color: black;
}

.black {
  background-color: black;
}

.blog-gallery__card_tagline {
  width: 227px;
  height: 72px;
  left: 120px;
  top: 1561px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;

  /* 4 */
  color: #ffffff;
  margin-left: 56px;
  margin-top: 523px;
}

.blog-gallery__pages_wrapper {
  text-align: center;
  margin-top: 15px;
}

.blog-gallery__pages {
  cursor: pointer;
}

.blog-footer {
  background-image: url(../img/Blog/blog-footer.webp);
  box-sizing: border-box;

  background-repeat: no-repeat;
  height: 654px;
  min-height: 0;
}

.blog-footer__content {
  width: 1044px;
  height: 358px;
  display: flex;
  margin: 0 auto;
}

.blog-footer {
  display: block;
  margin-top: 136px;
  padding-top: 96px;
}

.blog-footer__content {
  height: 369px;
  /* display: block; */
  justify-content: space-between;
}

.blog-footer_text {
  width: 424px;
  height: 154px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;

  @include fs(36);
  @include lh(51, 36);

  letter-spacing: 0em;
  transform: translate(1px, 5px);
  color: #ffffff;
}

.blog-footer__descr-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  transform: translate(-15px, 3px);
}

.blog-footer_descr {
  width: 366px;
  height: 103px;
  left: 861px;
  top: 2919px;

  /* p1 / light / 14px */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  /* 4 */
  color: #ffffff;
  margin-left: 5px;
  margin-left: 24px;
}

.blog-footer_email {
  /* margin-top: 7px; */
  /* height: 37px; */
  width: 382px;
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 170.66%;
  /* identical to box height, or 34px */

  /* 4 */
  color: #ffffff;
  opacity: 0.7;
  background: transparent;
  border: none;

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  background: transparent;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  /* line-height: 170.66%; */
  color: #ffffff;
  opacity: 1;
  margin-left: 3px;
  transform: translate(18px, -6px);
}

.blog__hor-line {
  width: 382px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  transform: translate(23px, -1px);
}

.blog__arrow-right {
  position: absolute;
  right: -17px;
}

.blog__form {
  position: relative;
}

.blog {
  //   .footer__copyright {
  //     font-family: Montserrat;
  //     font-style: normal;
  //     font-weight: 300;
  //     font-size: 0.75em;
  //     line-height: 1.5;
  //     color: #828282;
  //     transform: translate(64px, 133px);
  //     width: 217px;
  //   }

  //   .footer__pic {
  //     transform: translate(1166px, 91px);
  //   }
}

@media screen and (min-width: 1440px) {
  .blog-footer {
    background-size: cover;
  }
  .gallery {
    width: 100%;
  }
}

@media screen and (max-width: 1439px) {
  .blog-gallery {
    width: 912px;
  }
  .blog-gallery__wr {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
  .blog-gallery_top-wrapper {
    width: 319px;
    flex-wrap: wrap;
    margin-top: 125px;
    margin-left: 103px;
  }

  .blog-gallery_title {
    font-size: 2em;
  }

  .blog-gallery-list {
    margin-top: -6px;
    padding: 0;
  }

  .blog-gallery__wrapper {
    grid-template-rows: repeat(3, 453px);
    grid-gap: 6px;
    grid-template-columns: 453px 453px;
    margin-top: 96px;

    min-height: 200px;
    div {
      background-size: contain;
    }
  }

  .blog-gallery__card_4 {
    margin-left: 0px;
  }

  .blog-gallery__card_title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 159px;
    margin-left: 46px;
    width: 266px;
  }

  .blog-gallery__card_descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    opacity: 0.7;
    width: 335px;
    margin-left: 46px;
    margin-top: 0px;
  }

  .blog-gallery__card_wrapper-btn {
    transform: translate(-10px, 7px);
  }

  .blog-gallery__card_6 {
    .blog-gallery__card_title {
      font-size: 20px;
      line-height: 25px;
      margin-top: 279px;
      margin-left: 42px;
      width: 266px;
    }

    .blog-gallery__card_descr {
      display: none;
    }

    .blog-gallery__card_wrapper-btn {
      transform: translate(-13px, -21px);
    }
  }

  .blog-gallery__card_tagline {
    font-size: 20px;
    width: 188px;
    line-height: 126.9%;
    margin-left: 46px;
    margin-top: 356px;
  }

  .blog-gallery__pages_wrapper {
    margin-top: 62px;
  }

  .blog-footer {
    height: 593px;

    margin-top: 121px;
    padding-top: 87px;
    background-image: url(../img/Blog/footer__blog__laptop.webp);
    background-size: 100% 100%;
  }

  .blog-footer__content {
    width: 806px;
    height: 317px;
  }

  .blog-footer_text {
    font-size: 32px;
    line-height: 39px;
    width: 359px;
    margin-left: 49px;
  }

  .blog-footer_descr {
    margin-left: 13px;
    margin-top: 0px;
    transform: translate(0, 8px);
    width: 345px;
  }

  .blog__form {
    transform: translate(-13px, 13px);
    /* font-size: 20px; */
    /* line-height: 170.66%; */
  }

  .blog-footer_email {
    font-size: 16px;
    line-height: 219.66%;
    transform: translate(17px, -4px);
  }

  .blog__hor-line {
    width: 344px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(23px, -2px);
  }
  .blog__arrow-right {
    position: absolute;
    right: 22px;
    top: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .blog-gallery {
    width: 672px;
  }
  .blog-gallery_top-wrapper {
    margin-left: 76px;
    width: 325px;
    margin-top: 105px;
  }

  .blog-gallery__wrapper {
    grid-template-rows: repeat(3, 333px);
    grid-gap: 6px;
    grid-template-columns: 333px 333px;
    margin-top: 90px;
  }
  .blog-gallery__card_1,
  .blog-gallery__card_6 {
    .blog-gallery__card_title {
      font-size: 16px;
      width: 208px;
      line-height: 20px;
      margin-top: 185px;
      margin-left: 32px;
    }

    .blog-gallery__card_descr {
      display: none;
    }

    .blog-gallery__card_wrapper-btn {
      transform: translate(-23px, -18px);
    }
  }
  .blog-gallery__card_6 {
    .blog-gallery__card_title {
      margin-left: 26px;
    }
    .blog-gallery__card_wrapper-btn {
      transform: translate(-29px, -18px);
    }
  }
  .blog-gallery__card_tagline {
    font-size: 20px;
    width: 160px;
    line-height: 126.9%;
    margin-left: 32px;
    margin-top: 258px;
    font-size: 16px;
    line-height: 126.9%;
  }

  .blog-gallery__pages_wrapper {
    margin-top: 53px;

    img {
      width: 225px;
    }
  }
  .blog-footer {
    background-size: cover;
    background-image: url(../img/Blog/blog-footer_tablet.webp);
    margin-top: 100px;
    height: 540px;
    background-position: center;
    // background-size: contain;
  }

  .blog-footer__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 518px;
    margin-top: -21px;
    transform: translate(-1px);
  }

  .blog-footer_text {
    width: 360px;
    margin-left: 0;
    font-size: 32px;
    line-height: 39px;
  }

  .blog-footer_descr {
    /* margin: -64px 0 0 0; */
    transform: translate(2px, -48px);
    width: 505px;
  }

  .blog__form {
    transform: translate(-7px, -54px);
  }

  .blog__arrow-right {
    right: -22px;
  }

  .blog__hor-line {
    width: 100%;

    transform: translate(22px, -2px);
  }

  // .copyright-wrapper {
  //   width: 672px;
  //   margin-top: 101px;
  // }
}

@media screen and (max-width: 767px) {
  .blog-gallery_top-wrapper {
    margin-left: 0;
    width: 325px;
    margin-top: 91px;
  }

  .blog-gallery_title {
    font-size: 26px;
    line-height: 32px;

    color: #080808;
  }
  .blog-gallery_top-wrapper {
    position: relative;
  }

  .blog-gallery-list {
    position: absolute;
    top: 140px;
  }
  .blog-gallery {
    width: 327px;
  }

  .blog-gallery-list_mobile {
    display: block !important;
    width: 128px;
    height: 29px;
    background: transparent;
    border: 1px solid #c4c4c4;
    border-radius: 88px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */

    letter-spacing: 0.06em;

    /* 1 */

    color: #080808;

    position: absolute;
    top: 79px;
    padding-right: 26px;
    padding-top: 1px;
    padding: -1px 0 0 12px;

    img {
      position: absolute;
      right: 11px;
      top: 12px;
      transition: 0.3s;
    }
  }

  .none-mobile {
    display: none !important;
  }

  .blog-gallery__wrapper {
    grid-template-columns: 327px;
    grid-template-rows: 355px repeat(2, 327px) 355px;
    grid-row-gap: 6px;
    width: 327px;
    /* margin: 21px; */
    margin: 82px 0 0 0;
  }
  .blog-gallery__card_1 {
    background-image: url(../img/mainPage/Pic_8_test.webp);
    background-repeat: no-repeat;
  }
  .blog-gallery__card_2,
  .blog-gallery__card_5 {
    display: none;
  }

  .blog-gallery__card_6 {
    background-image: url(../img/Blog/blog-gallery-6_mobile.webp);
    background-repeat: no-repeat;
  }
  .blog-gallery__card_1 {
    .blog-gallery__card_title {
      font-size: 16px;
      line-height: 20px;
      width: 279px;
      margin-top: 243px;
      margin-left: 24px;
    }
    .blog-gallery__card_wrapper-btn {
      transform: translate(-31px, -23px);
    }
  }
  .blog-gallery__card_tagline {
    margin-left: 25px;
    margin-top: 263px;
  }

  .blog-gallery__card_6 {
    .blog-gallery__card_title {
      margin-left: 24px;
      margin-top: 243px;
      width: 272px;
    }
    .blog-gallery__card_wrapper-btn {
      transform: translate(-31px, -23px);
    }
  }

  .blog-gallery__pages_wrapper {
    margin-top: 49px;
  }

  .blog-footer {
    // background-image: url(../img/Blog/footer);
    margin-top: 74px;
    height: 518px;
    background-size: cover;
  }

  .blog-footer__content {
    width: 327px;
    height: 283px;
  }

  .blog-footer_text {
    font-size: 26px;
    line-height: 32px;
    /* or 122% */

    /* 4 */
    color: #ffffff;
    margin-top: 9px;
    width: 298px;
  }

  .blog-footer__descr-wrapper {
    width: 100%;
  }

  .blog-footer_descr {
    transform: translate(2px, -58px);
    width: 327px;
  }

  .blog__arrow-right {
    right: 39px;
  }

  .blog__hor-line {
    width: 327px;
  }

  .blog__form {
    transform: translate(-7px, -46px);
  }

  // .blogPage {
  //   .copyright-wrapper {
  //     margin-top: 102px;
  //   }
  // }
}
