body.mainPage {
  position: relative;
}
.gallery__img_spec_mobile {
  display: none !important;
}
.visible_1024 {
  display: none;
}
.slide {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;

  .first-slide {
    min-width: 1227px;
    width: 100%;
    height: 744px;
    background: url("../img/mainPage/firstSlide.webp");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  img {
    min-width: 1227px;
    width: 100%;
    height: 744px;
  }

  .slide__content {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
    pointer-events: none;
    width: 1440px;
    * {
      pointer-events: all;
    }
  }
  .swiper__wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }
  .second-slide {
    background: url(../img/mainPage/secondSlide.webp);
    background-repeat: no-repeat;
    width: 100%;

    background: url(../img/mainPage/secondSlide.webp) -25px 0%/127% 100% no-repeat;

    background-size: 0/127%;
    background-position: -25px;
    height: 744px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-backdrop-filter: saturate(150%);
      backdrop-filter: saturate(150%);
    }
  }
}

.slider__title {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  @include fs(56);
  @include lh(68, 56);

  color: #ffffff;
  width: 492px;
  margin-top: 279px;
  margin-left: 263px;
}

.button-with-lines_mainPage {
  margin-left: 266px;
  margin-top: -8px;
}

.slide__pagination {
  display: flex;
  align-items: center;
  margin-left: 995px;
  margin-top: -22px;

  .slide__num {
    color: $textColor1;
    cursor: pointer;
    font-weight: 300;
  }

  img {
    cursor: pointer;
    min-width: 0px;
    width: 4px;
    height: 10px;
    position: static;

    margin-top: 0px;
  }

  img:first-of-type {
    margin-right: 11px;
  }

  img:last-of-type {
    margin-left: 12px;
  }

  .line {
    min-width: 0px;
    width: 186px;
    height: 1px;
    margin: 0 12px;
    margin-right: 17px;
  }
}

.slide__bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 200px;
  margin-left: -905px;

  .slide__language {
    display: flex;
    justify-content: space-between;
    width: 78px;

    .slide__lang {
      color: $textColor1;
    }
  }

  .slide__berlin {
    font-size: 1em;

    transform: translate(120px, 3px);
    width: 117px;
    height: 24px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1.15336px 1.22544px rgba(0, 0, 0, 0.2),
      inset 0px -0.288339px 0.0720847px rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border: none;
    border-radius: 8.70783px;

    img {
      width: initial;
      height: initial;
      max-width: initial;
      max-height: initial;
      min-height: initial;
      min-width: initial;
    }

    .point {
      transform: translate(-13px, 0px);
    }

    .arrow_bottom {
      transform: translate(17px, 0);
    }

    .Berlin {
      color: white;
      display: inline-block;
      transform: translate(-10px, -1px);
    }
  }

  .slide__tel {
    color: $textColor1;
    transform: translate(193px, 11px);
  }

  .slide__email {
    color: $textColor1;
    transform: translate(224px, 11px);
  }
}

.slide__ver-block {
  transform: rotate(270deg);
  position: relative;
  top: -824px;
  left: 593px;
  pointer-events: none;
}

.slide__ver-block-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;

  @include fs(11);
  @include lh(13, 11);

  letter-spacing: 0.06em;
  color: white;
  transform: translate(1px, 39px);
  pointer-events: all;
}

.slide__ver-block-text {
  // font-family: "Montserrat";
  font-family: "Montserrat";
  font-weight: 600;
  // font-size: 48px;
  // line-height: 47px;
  @include fs(48);
  @include lh(48, 47);
  letter-spacing: 0.04em;
  color: white;
  width: 200px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  pointer-events: all;
}
.phil {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  height: 1257px;
}

.phil > img:hover {
  transition: 0.3s all;
  transform: scale(1.2);
}

.phil > img {
  transition: 0.3s all;
}

.phil__descr_wrapper {
  margin-left: 196px;
  margin-top: 198px;
  display: inline-block;
  font-size: 16px;
  width: 515px;

  .phil__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    @include fs(36);
    @include lh(36, 44);
    color: #080808;
    // margin-left: 134px;
    // margin-top: 220px;
  }

  .phil__descr {
    font-family: "Montserrat";
    width: 515px;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875em;
    line-height: 1.71em;
    color: #080808;
    opacity: 0.7;
    margin-top: 1px;
    display: inline-block;
    min-height: 85px;
  }

  .phil__descr_1 {
    // margin-top: -4px;
  }
}

.phil__img-1 {
  position: absolute;
  right: 0px;
  top: 139px;
}

.phil__img-2 {
  z-index: 2;
  bottom: 44px;
  left: 426px;
  position: relative;
}

.phil__img-3 {
  right: 87px;
  top: 301px;
  position: relative;
}

.visible_1024_not_768 {
  display: none;
}

.phil__button {
  margin: 0 auto;

  transform: translate(-420px, 41px);

  &_black {
    color: $textColor2;
  }

  .phil__hor_line {
    background: rgba(49, 49, 49, 0.2);
  }
}

.phil__quote {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25em;
  @include lh(44, 36);
  color: #080808;
  margin-left: 795px;
  margin-top: 58px;
}

.phil__text-bottom {
  width: 380px;
  height: 137px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  @include fs(20);
  line-height: 170.66%;
  color: #080808;
  opacity: 0.7;
  margin-left: 845px;

  margin-top: -83px;
  display: inline-block;
}

.gallery {
  width: 1440px;
  height: 3118px;
  margin: 0 auto;
  margin-top: 100px;
  background: radial-gradient(50% 50% at 50% 50%, #0f0f0f 0, #080808 100%);
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.phil__img-1 {
  position: absolute;
  right: 0;
  top: 70px;
}
.phil__img-2 {
  z-index: 2;
  bottom: 44px;
  left: 433px;
  position: relative;
}
.phil__img-3 {
  right: 86px;
  top: 301px;
  position: relative;
}

.gallery__imgs_texts {
  display: none;
}
.picture {
  div:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
  div {
    position: absolute;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.16));
  }
}

.phil__button {
  margin: 0 auto;
  transform: translate(-420px, 41px);
}

.picture__pic_1 {
  background-image: url(../img/mainPage/Pic_section_1.webp);
  background-repeat: no-repeat;
  width: 271px;
  height: 180px;
  top: 63px;
  left: 144px;
}
.picture__pic_2 {
  background-image: url(../img/mainPage/Pic_section_2.webp);
  background-repeat: no-repeat;
  width: 348px;
  height: 231px;
  left: 0px;
  top: 186px;
}
.picture__pic_3 {
  background-image: url(../img/mainPage/Pic_section_3.webp);
  background-repeat: no-repeat;
  width: 144px;
  height: 100px;
  top: 725px;
  left: 0px;
}
.picture__pic_4 {
  background-image: url(../img/mainPage/Pic_section_4.webp);
  background-repeat: no-repeat;
  width: 285px;
  height: 189px;
  top: 565px;
  left: 277px;
}
.picture__pic_5 {
  background-image: url(../img/mainPage/Pic_section_5.webp);
  background-repeat: no-repeat;
  width: 214px;
  height: 142px;
  top: 720px;
  left: 773px;
}
.picture__pic_6 {
  background-image: url(../img/mainPage/Pic_section_6.webp);
  background-repeat: no-repeat;
  width: 402px;
  height: 282px;
  top: 429px;
  left: 1125px;
}
.picture__pic_7 {
  background-image: url(../img/mainPage/Pic_section_7.webp);
  background-repeat: no-repeat;
  width: 271px;
  height: 180px;
  left: 1058px;
}
.picture__pic_8 {
  background-image: url(../img/mainPage/Pic_section_8.webp);
  background-repeat: no-repeat;
  width: 348px;
  height: 231px;
  left: 773px;
  top: 0px;
}
@media screen and (min-width: 1440px) {
  .gallery {
    width: 100%;
  }
}
.gallery_content_wrapper {
  display: block;
  color: white;
  width: 735px;
  /* margin-top: 147px; */
  margin: 0 auto;
  margin-top: 141px;
}

.gallery__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25em;
  @include lh(44, 36);
  color: #ffffff;
  width: 236px;
  margin: 0 auto;
}

.gallery__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 0.875em;
  @include lh(24, 14);
  text-align: center;
  color: #828282;
  width: 449px;
  margin: 0 auto;
  margin-top: 31px;
  text-align: center;
}

.gallery__text_opacity {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  @include fs(56);
  @include lh(68, 56);
  color: #ffffff;
  opacity: 0.06;
  margin-top: 88px;

  .fade-text {
    opacity: 0.001;
    transition: 0.5s all;
  }

  .fade-text:hover {
    opacity: 1;
    transition: 0.5s all;
  }
}

.gallery__imgs_template {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 653px;
  width: 1314px;
  grid-gap: 8px;

  margin: 0 auto;
  margin-top: -81px;
}
.gallery__imgs_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    transition: 0.3s all;
  }
  img:hover {
    transition: 0.3s all;
    transform: scale(1.21);
  }
}

.gallery__imgs_wrapper.pic_3 {
  display: grid;
  grid-column: 1/3;
}

// .gallery__text_opacity:hover {
//   opacity: 0.06;
//   transition: 0.5s all;
// }
.gallery__bottom {
  position: relative;
  width: 1051px;
  margin: 0 auto;
  .gallery__bottom_side_text_bottom {
    transform: translate(-171px, 54px);
  }
  .gallery__bottom_line {
    margin-left: 15px;
    margin-top: 79px;
  }
}

.gallery__bottom_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  width: 424px;
  margin-top: 174px;
  margin-left: 2px;
  position: relative;
  z-index: 1;
}

.gallery__bottom_collage {
  position: absolute;
  top: -66px;
  left: 141px;
  z-index: 0;
  transition: 0.3s all;
}

.gallery__bottom_collage:hover {
  transform: scale(1.1);
  transition: 0.3s all;
}

.gallery__bottom_descr {
  position: absolute;
  width: 339px;
  height: 96px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  right: 3px;
  margin-top: -11px;
}

.gallery__bottom_btn {
  background: white;
  transform: translate(710px, 128px);
}

.picture {
  overflow: hidden;
  position: relative;
  width: 1440px;
  height: 814px;
  margin: 0 auto;

  img {
    transition: 0.3s;
  }

  img:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
}

.picture__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #080808;
  /* margin-top: 346px; */
  text-align: center;
  /* display: inline-block; */
  /* margin: auto; */
  margin: 0px;
  transform: translate(0px, 346px);
}

.picture_descr {
  width: 390px;
  height: 37px;
  left: 525px;
  top: 5652px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #080808;
  opacity: 0.6;
  margin: 0 auto;
  margin-top: -42px;
  text-align: center;
  transform: translate(0px, 403px);
}

// .picture__pic_1 {
//   position: absolute;
//   top: 0px;
//   left: 80px;
// }

// .picture__pic_2 {
//   position: absolute;
//   left: 0px;
//   top: 121px;
// }

// .picture__pic_3 {
//   position: absolute;
//   top: 501px;
//   left: 214px;
// }

// .picture__pic_4 {
//   position: absolute;
//   bottom: 0px;
// }

// .picture__pic_5 {
//   bottom: 0px;
//   position: absolute;
//   left: 709px;
// }

// .picture__pic_6 {
//   position: absolute;
//   right: 0px;
//   top: 364px;
// }

// .picture__pic_7 {
//   position: absolute;
//   right: 47px;
//   top: 2px;
// }

// .picture__pic_8 {
//   position: absolute;
//   top: 0px;
//   left: 709px;
// }

@media screen and (max-width: 1439px) {
  .gallery__bottom_text {
    transform: translate(-1px);
  }
  .gallery__imgs_texts {
    display: block;
  }
  .slide {
    .button-with-lines_mainPage {
      transform: none;
    }
  }
  .slider__title {
    font-size: 48px;
    line-height: 59px;
    @include fs(48);
    @include lh(59, 48);
    margin-left: 160px;
    width: 425px;
    margin-top: 284px;
  }

  .button-with-lines_mainPage {
    margin-left: 162px;
    margin-top: -13px;
  }

  .slide__pagination {
    margin-left: 627px;
    width: 284px;

    .line {
      width: 147px;
    }
  }
  .slide {
    .slide__content {
      width: 1024px;
      // width: 100%;
    }
  }

  .slide__pagination {
    margin-left: 400px;
    width: 300px;
  }

  .slide__ver-block {
    left: 200px;
  }

  .slide__bottom {
    width: 1024px;
  }

  .swiper {
    height: 710px;

    // .first-slide {
    //   background: url("../img/mainPage/slider1_1024.webp");
    // }
  }

  .slide__ver-block-title {
    transform: translate(-233px, 245px);
  }

  .slide__ver-block-text {
    transform: translate(-234px, 221px);

    @include fs(32);
    line-height: 1em;
  }
  .slide {
    .second-slide {
      background: url(../img/mainPage/secondSlide.webp) -24px 0/136% 96% no-repeat;
    }
  }

  .slide__pagination {
    margin-left: 627px;
  }

  .slide__bottom {
    margin-left: -253px;

    .slide__tel {
      color: #fff;
      transform: translate(117px, 11px);
    }

    .slide__email {
      color: #fff;
      transform: translate(158px, 11px);
    }

    .slide__berlin {
      border: 1px solid #c4c4c4;
      border-radius: 88px;
      background: transparent;
      transform: translate(77px, 3px);
    }
  }

  .phil__descr_wrapper {
    .phil__title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 2em;
      line-height: 39px;
      color: #080808;
    }
    .phil__descr {
      text-align: left;
      margin-top: -12px;
      width: 448px;
      /* height: 109px; */
      /* left: 159px; */
      /* top: 1003px; */
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      @include fs(14);
      @include lh(24, 14);
      color: #080808;
      opacity: 0.7;
    }
  }
  .visible_1024 {
    display: block;
  }

  .visible_1024_not_768 {
    display: block;
  }

  .phil__descr_wrapper {
    margin-left: 158px;
    margin-top: 155px;

    .phil__title {
      font-size: 2em;
      line-height: 39px;
    }

    .phil__descr {
      font-size: 14px;
      @include fs(14);
      line-height: 24px;
    }

    .phil__descr_1 {
      margin-top: -15px;
    }

    .phil__descr_2 {
      margin-top: -1px;
    }
  }

  .phil__img-1 {
    width: 349px;
    height: 439px;
    top: 125px;
  }

  .phil__img-2 {
    width: 190px;
    height: 117px;
    bottom: 3px;
    left: 305px;
  }

  .phil__img-3 {
    width: 190px;
    height: 237px;
  }

  .phil__quote {
    font-size: 25.575px;
    @include fs(25);
    @include lh(31, 25);
    // line-height: 31px;
    margin-left: 525px;
    margin-top: 27px;
  }

  .phil__text-bottom {
    width: 313px;
    height: 119px;
    /* left: 556.17px; */
    /* top: 1551px; */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 170.66%;
    margin-left: 556px;
    margin-top: -59px;
  }

  .side_text .phil__side_text_bottom {
    display: none;
  }

  .phil__side_text {
    top: 195px;
    left: 32px;
  }

  .button-with-lines {
    transform: translate(-458px, 22px);
  }

  .phil__img-3 {
    right: 43px;
    top: 212px;
    position: relative;
  }
  .phil {
    width: 1024px;
  }

  .side_text.phil__side_text_bottom {
    display: none;
  }

  .button-with-lines {
    transform: translate(-250px, 22px);
  }

  .gallery {
    margin-top: -172px;
    width: 1024px;
    height: 2366px;
  }

  .gallery_content_wrapper {
    margin-bottom: 198px;
  }

  .gallery__title {
    font-size: 2em;
    line-height: 39px;
    width: 210px;
    margin-top: -16px;
  }

  .gallery__descr {
    margin: 21px auto 0;
    margin-top: 21px;
    text-align: center;
    margin-bottom: 0px;
  }

  .gallery__text_opacity {
    display: none;
  }

  .gallery__imgs_template {
    width: 912px;
    grid-template-rows: 453px;
    img {
      height: 453px;
    }
  }

  .gallery__bottom {
    width: 455px;

    .gallery__bottom_side_text_bottom {
      transform: translate(-268px, 40px);
    }
  }

  .gallery__bottom_text {
    width: 360px;
    height: 137px;
    font-weight: 700;
    font-size: 2em;
    line-height: 142.4%;
    text-align: center;
    margin: 0 auto;
    margin-top: 134px;
    transform: translate(-1px, 0px);

    img {
      display: none;
    }
  }

  .gallery__bottom_descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;

    @include fs(14);
    @include lh(24, 14);

    width: 455px;
    margin-top: 23px;
    right: 0px;
    text-align: center;
  }
  .gallery__img_spec_mobile {
    display: none !important;
  }
  .gallery__bottom_btn {
    width: 183px;
    height: 42px;
    transform: translate(136px, 163px);
  }

  .gallery__bottom_collage {
    display: none;
  }

  .gallery__side_text_bottom {
    transform: translate(32px, -304px);
  }

  .phil__img-1 {
    top: 63px;
  }

  .phil__img-2 {
    left: 310px;
  }

  .phil__img-3 {
    right: 39px;
  }

  .picture {
    width: 1024px;
  }

  .picture__title {
    font-size: 56px;
    line-height: 68px;
    /* width: 427px; */
    height: 69px;
    /* left: 506px; */
    /* top: 5565px; */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    @include fs(48);
    @include lh(42, 48);
    line-height: 42px;
  }
  .picture__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;

    font-size: 48px;
    @include fs(48);
    line-height: 45px;
    @include lh(45, 48);
    color: #080808;
    text-align: center;
    margin: 0;
    transform: translate(0, 346px);
  }

  .picture_descr {
    transform: translate(0, 387px);
  }

  .picture__pic_1 {
    left: -51px;
    top: 62px;
    height: 261px;
  }

  .picture__pic_2 {
    height: 301px;
    top: 166px;
    left: -115px;
  }

  .picture__pic_3 {
    top: 489px;
    left: 6px;
    height: 263px;
  }

  // .picture__pic_4 {
  //   display: none;
  // }

  .picture__pic_5 {
    left: 482px;
    /* top: -10px; */
    height: 197px;
    width: 291px;
    bottom: 23px;
  }

  .picture__pic_6 {
    width: 100px;
  }

  .picture__pic_7 {
    right: 35px;
    top: 2px;
  }

  .picture__pic_8 {
    top: 0;
    left: 400px;
    /* width: 402px; */
    height: 233px;
  }

  // .picture {
  //   img {
  //     display: none;
  //   }
  //   picture {
  //     display: none;
  //   }
  // }

  .picute__wrapper {
    .picture__pic_1 {
      background-image: url("../img/mainPage/pic_section_1.webp");
      width: 271px;
      height: 180px;
    }
  }

  .gallery__imgs_wrapper {
    position: relative;
    display: block;
  }

  .gallery__imgs_texts {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 18px;
    padding-left: 32px;
  }

  .gallery__imgs_top-text {
    display: flex;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    @include fs(11);
    line-height: 170%;
    color: #ffffff;
    width: 173px;
    justify-content: space-between;
  }

  .gallery__imgs_bottom-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    @include fs(20);
    line-height: 126%;
    color: #fafafa;
    margin-top: 129%;
  }

  .button-with-lines_gallery_text {
    transform: none;
    margin-top: 24px;
    margin-left: 4px;
  }

  .gallery__imgs_texts_1 {
    pointer-events: none;
    * {
      pointer-events: all;
    }
  }

  .gallery__imgs_texts_2 {
    pointer-events: none;
    * {
      pointer-events: all;
    }
    .gallery__imgs_bottom-text {
      transform: translate(-6px);
    }

    .button-with-lines_gallery_text {
      transform: translate(-6px);
    }
  }

  .gallery__imgs_texts_3 {
    pointer-events: none;
    * {
      pointer-events: all;
    }
    .gallery__imgs_top-text {
      width: 159px;
    }

    .gallery__imgs_bottom-text {
      margin-top: 127%;
      width: 248px;
    }

    .button-with-lines_gallery_text {
      transform: translate(607px, -40px);
    }
  }

  .gallery__imgs_template {
    grid-gap: 6px;
  }

  .gallery__imgs_texts_4 {
    pointer-events: none;
    padding-left: 30px;
    * {
      pointer-events: all;
    }
  }
  .picture {
    height: 790px;
    div {
      background-size: 100%;
    }
    .picture__pic_2 {
      background-size: contain;
    }
    .picture__pic_6 {
      background-size: contain;
    }
  }
  .picture__pic_1 {
    width: 229.41px;
    height: 152.37px;
    left: 6px;
    top: 116px;
  }
  .picture__pic_2 {
    width: 294.59px;
    height: 195.55px;
    background-size: contain;
    left: -117px;
    top: 218px;
  }
  .picture__pic_3 {
    display: none;
  }
  .picture__pic_4 {
    width: 241.26px;
    height: 159.99px;
    top: 540px;
    left: 59px;
  }
  .picture__pic_5 {
    background-image: url(../img/mainPage/picture__pic_5_tablet.webp);
    width: 181.16px;
    height: 121.21px;
    left: 536px;
    background-size: cover;
    top: 672px;
  }
  .picture__pic_6 {
    top: 425px;
    left: 835px;
    width: 340.3px;
    height: 238.72px;
    background-size: contain;
  }
  .picture__pic_7 {
    left: 695px;
    top: 115px;
    width: 229.41px;
    height: 152.37px;
  }
  .picture__pic_8 {
    background-image: url(../img/mainPage/Picture__pic_8_tablet.webp);
    width: 294.59px;
    height: 195.55px;
    left: 453px;
    top: 0px;
  }

  .footerHomePage {
    margin-top: 0px;
  }
  .footer__btn_req {
    padding-top: 4px;
    padding-left: 7px;
  }
  .swiper {
    height: 710px;
    .swiwer-wrapper {
      height: 100%;
    }
    .first-slide {
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/mainPage/firstSlide_laptop.webp);
    }
    .second-slide {
      height: 965px;
      background-repeat: no-repeat;
      background-size: 133% 74%;
      background-position: -19px -4px;
      background-image: url(../img/mainPage/secondSlide.webp);
    }
  }

  .pic_4,
  .pic_5 {
    transform: translate(0, -3px);
  }
}
@media screen and (max-width: 1439px) and (min-width: 1025px) {
  .swiper {
    .first-slide {
      background-size: cover;
    }
  }
}
@media screen and (max-width: 1023px) {
  .swiper {
    height: 959px;
    .swiwer-wrapper {
      height: 100%;
    }
    .first-slide {
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/mainPage/firstSlide_tablet.webp);
    }
    .second-slide {
      height: 965px;
      background-repeat: no-repeat;
      background-size: 112% 100%;
      background-position: -6px -4px;
    }
  }
  .slide {
    .slide__content {
      width: 100%;
    }
  }

  .slide__ver-block {
    left: 0;
  }

  .slide__pagination {
    margin-left: 0px;
    margin-right: 0;
  }

  .slide__bottom {
    width: 515px;
  }

  .slider__title {
    font-size: 44px;
    @include fs(44);
    line-height: 54px;
    margin-top: 381px;
    margin-left: 125px;
    width: 261px;
  }
  .slide {
    .button-with-lines_mainPage {
      transform: translate(-34px, 4px);
    }
  }

  .slide__pagination {
    margin-left: 400px;
  }

  .slide__bottom {
    margin-top: 309px;
    margin-left: -6px;
    width: 515px;

    .slide__berlin {
      transform: translate(61px, 3px);
    }

    .slide__tel {
      transform: translate(95px, 11px);
    }

    .slide__email {
      transform: translate(126px, 11px);
    }
  }

  .slide__ver-block {
    left: 97px;
    top: -673px;
  }

  .slide__ver-block-text {
    width: 400px;
    letter-spacing: 0.05em;
    font-size: 2em;
  }
  .phil {
    width: 100vw;
  }

  .phil__descr_wrapper {
    margin-left: 125px;
    margin-top: 75px;

    .phil__descr {
      width: 540px;
    }

    .phil__descr_2 {
      width: 516px;
    }
  }

  .phil__img-1 {
    display: none;
  }

  .phil__side_text {
    top: 116px;
    left: 24px;
  }

  .visible_1024_not_768 {
    display: none;
  }

  .phil__button {
    transform: translate(-156px, 20px);
  }

  .phil__img-2 {
    width: 383px;
    height: 235px;
    left: 258px;
    bottom: -82px;
  }

  .phil__img-3 {
    width: 153px;
    height: 191px;
    right: 267px;
    top: 180px;
  }
  .phil__quote {
    margin-left: 325px;
    margin-top: 198px;
  }
  .phil__text-bottom {
    margin-left: 354px;
    margin-top: -60px;
    width: 291px;
  }

  .gallery {
    margin-top: -233px;
    width: 100vw;
  }
  // .laptop__burger {
  //   transform: translate(-5px, -1px);
  // }

  // .header__language {
  //   margin-left: 198px;
  // }

  .slider__title {
    margin-top: 381px;
    margin-left: 124px;
  }

  .slide {
    .button-with-lines_mainPage {
      transform: translate(-35px, 4px);
    }
  }
  .slide__pagination {
    margin-left: 399px;
    margin-top: -20px;
  }

  .slide__ver-block {
    left: 96px;
  }

  .slide__bottom {
    margin-top: 305px;
    margin-left: -7px;
  }

  .phil__descr_wrapper {
    margin-left: 124px;
  }

  .gallery {
    height: 4288px;
  }

  .gallery_content_wrapper {
    width: 100vw;
    margin-top: 120px;
  }

  .gallery__side_text_bottom {
    transform: translate(22px, -304px);

    .gallery__bottom_line {
      margin-left: 1px;
      margin-top: 64px;
    }
  }

  .gallery__imgs_template {
    grid-template-columns: 1fr;
    grid-template-rows: 672px;
    margin-top: -101px;

    img {
      width: 672px;
      height: 672px;
    }
  }
  .gallery__imgs_template {
    display: block;
    width: 672px;
  }
  .gallery__imgs_wrapper {
    margin-bottom: 3px;
  }

  .gallery__imgs_top-text {
    width: 159px;
  }

  .gallery__imgs_texts_1 {
    .gallery__imgs_bottom-text {
      margin-top: 244.5%;
      width: 186px;
    }

    .button-with-lines_gallery_text {
      margin-top: 20px;

      transform: translate(-1px, 0px);
    }
  }

  .gallery__imgs_texts_2 {
    padding-top: 12px;

    .gallery__imgs_bottom-text {
      margin-top: 223.5%;
      transform: translate(0px);
    }

    .button-with-lines_gallery_text {
      transform: translate(-1px, 1px);
    }
  }

  .gallery__imgs_texts_3 {
    .gallery__imgs_bottom-text {
      margin-top: 208%;
    }

    .button-with-lines_gallery_text {
      transform: translate(-2px, 1px);
    }
  }

  .gallery__imgs_texts_4 {
    padding-left: 32px;
    padding-top: 19px;

    .gallery__imgs_bottom-text {
      margin-top: 254%;
    }

    .button-with-lines_gallery_text {
      transform: translate(-1px);
    }
  }

  .gallery__imgs_texts_5 {
  }

  .gallery__bottom_text {
    margin: 118px auto 0;
    transform: translate(-2px, 0);
  }

  .gallery__bottom_descr {
    transform: translate(1px);
  }

  .gallery__bottom_btn {
    transform: translate(137px, 146px);
  }

  .picture {
    width: 100vw;
    height: 831px;
  }

  .picture__title {
    @include fs(44);
    transform: translate(0, 363px);
  }

  .picture_descr {
    transform: translate(0, 405px);
  }

  .picture__pic_1 {
    width: 194px;
    height: 129px;
    left: 40px;
    top: 110px;
  }

  .picture__pic_2 {
    width: 249px;
    height: 166px;
    top: 200px;
    left: -64px;
  }
  .picture__pic_3 {
  }
  .picture__pic_4 {
    width: 224.73px;
    height: 149.03px;
    top: 618px;
    left: 45px;
  }
  .picture__pic_5 {
    left: 439px;
    top: 740px;
    width: 168.75px;
    height: 111.97px;
  }
  .picture__pic_6 {
    display: block;
    background-image: url(../img/mainPage/Pic_test_5.webp);
    top: 481px;
    left: 702px;
    width: 316.99px;
    height: 222.37px;
  }
  .picture__pic_7 {
    width: 213.69px;
    height: 141.94px;
    left: 628.19px;
    top: 133px;
  }
  .picture__pic_8 {
    background-image: url(../img/mainPage/Pic_8_test.webp);
    width: 274.41px;
    height: 182.15px;
    left: 403.45px;
    top: -30px;
  }

  .phil__img-2 {
    left: 261px;
  }

  .phil__img-3 {
    right: 264px;
  }
  .gallery__bottom_text {
    margin: 118px auto 0;
    transform: translate(0px, 0);
    line-height: 135.4%;
  }
  .gallery__bottom_descr {
    transform: translate(1px, -4px);
  }
  .gallery__bottom_btn {
    transform: translate(137px, 143px);
  }
  .gallery__bottom .gallery__bottom_side_text_bottom {
    transform: translate(-147px, 37px);
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {
  .swiper {
    .first-slide {
      background-size: cover;
    }
  }
  .IndexPage {
    .slide__ver-block {
      * {
        display: none;
      }
    }
    .phil {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .picture__pic_6 {
      background-image: url(../img/mainPage/pic_section_6.webp);
    }

    .phil__img-2 {
      left: 200px;
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 376px) {
  .swiper {
    .first-slide {
      background-size: cover;
    }
  }
  .IndexPage {
    .slide__ver-block {
      * {
        display: none;
      }
    }
    .phil {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .phil__quote {
    opacity: 0;
  }

  .phil__img-2 {
    left: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  .swiper {
    .first-slide {
      background-image: url(../img/mainPage/firstSlide_mobile.webp);
      width: 316px;
      height: 542px;
    }

    .second-slide {
      height: 542px;
      background-size: 139% 100%;
      background-position: -6px -2px;
    }
  }

  .slider__title {
    font-size: 40px;
    line-height: 39px;
    margin-top: 220px;
    margin-left: 24px;
  }
  .slide {
    .button-with-lines_mainPage {
      transform: translate(-135px, 15px);
    }
  }

  .slide__pagination {
    margin-left: 24px;
    margin-top: -240px;
    .line {
      width: 88px;
    }
  }

  .slide__bottom {
    padding-left: 70px;
    width: 100vw;

    .slide__language {
      display: none;
    }
    .slide__berlin {
      transform: translate(-63px, 26px);
    }

    .slide__tel {
      transform: translate(-6px, 23px);
    }

    .slide__email {
      transform: translate(-107px, 41px);
    }
  }

  .slide__ver-block {
    .slide__ver-block-title {
      display: none;
    }

    .slide__ver-block-text {
      transform: translate(-440px, 04px);
    }
  }

  .slide__bottom {
    width: 338px;
    margin: 0 auto;
    margin-top: 305px;
    padding-left: 0;

    .slide__berlin {
      transform: translate(1px, 26px);
    }

    .slide__tel {
      transform: translate(57px, 24px);
    }

    .slide__email {
      transform: translate(-43px, 41px);
    }
  }
  .slide__ver-block {
    .slide__ver-block-text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      @include fs(18);
      transform: translate(-484px, 63px);
      line-height: 1em;
      letter-spacing: 0.04em;
      -webkit-text-fill-color: none;
      -webkit-text-fill-color: currentColor;
      -webkit-text-stroke: black;
    }
  }
  .slide__bottom .slide__berlin .arrow_bottom {
    transform: translate(16px, -1px);
  }

  .slide {
    height: 542px;
    margin-bottom: 79px;

    .swiper {
      height: 100%;
    }
  }

  .phil__descr_wrapper {
    width: 327px;
    /* text-align: center; */
    display: block;
    margin: 0 auto;

    .phil__title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      @include fs(26);
      @include lh(32, 26);

      color: #080808;
    }

    .phil__descr_1 {
      width: 100%;
      margin-top: -8px;
    }

    .phil__descr_2 {
      width: 100%;
      margin-top: -1px;
    }
  }

  .phil__button_black {
    transform: translate(95px, -2px);
  }

  .phil__img-2 {
    width: 264px;
    height: 162px;
    left: 84px;
    top: 98px;
  }

  .phil__img-3 {
    width: 131px;
    height: 163px;
    left: 24px;
    top: 50px;
  }

  .phil__quote {
    margin-top: 126px;
    margin-left: 24px;
  }

  .phil__text-bottom {
    margin-left: 66px;
  }

  .phil__button {
    .phil__hor_line {
      background: rgba(49, 49, 49, 1.2);
      transform: translate(93px, -1px);
      background: rgba(49, 49, 49, 0.2);
    }

    .hor_line-b {
      transform: translate(98px, -1px);
      background: rgba(49, 49, 49, 0.2);
    }
  }

  .gallery {
    height: 2779px;
    margin-top: -228px;
  }

  .gallery__title {
    width: 327px;
    height: 25px;
    left: 24px;
    top: 1800px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-top: -41px;
  }

  .gallery__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #828282;
    width: 327px;
    text-align: left;
  }

  .gallery__side_text_bottom {
    display: none;
  }

  .gallery__imgs_template {
    margin-top: -119px;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gallery__imgs_wrapper {
    width: 327px;
    height: 327px;
    margin-bottom: 0px;

    img {
      width: 327px;
      height: 327px;
    }
  }

  .gallery__img_spec_mobile {
    display: block !important;
  }

  .gallery__imgs_texts {
    padding-top: 12px;
    padding-left: 23px;
  }
  .gallery__imgs_texts_1 {
    .gallery__imgs_bottom-text {
      margin-top: 86.5%;
    }

    .button-with-lines_gallery_text {
      margin-top: 10px;
    }
  }

  .gallery__imgs_texts_2 {
    .gallery__imgs_bottom-text {
      margin-top: 87.5%;
    }

    .button-with-lines_gallery_text {
      margin-top: 9px;
    }
  }

  .gallery__imgs_texts_3 {
    .gallery__imgs_bottom-text {
      margin-top: 81%;
    }

    .button-with-lines_gallery_text {
      margin-top: 10px;
    }
  }

  .gallery__imgs_texts_5_spec {
    .gallery__imgs_bottom-text {
      margin-top: 99%;
    }

    .button-with-lines_gallery_text {
      margin-top: 10px;
    }
  }

  .gallery__imgs_texts_4 {
    .gallery__imgs_bottom-text {
      margin-top: 88%;
    }

    .button-with-lines_gallery_text {
      margin-top: 10px;
    }
  }

  .gallery__imgs_texts_ {
  }

  .gallery__bottom {
    margin: 0 auto;
    display: block;
    margin-top: -20px;
    width: 321px;
  }

  .gallery__bottom_text {
    width: 296px;
    height: 95px;
    /* left: 26px; */
    /* top: 4109px; */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* or 121% */

    /* 4 */
    color: #ffffff;
    text-align: left;
    margin-left: 0px;
    transform: translate(-1px);
  }

  .gallery__bottom_descr {
    text-align: left;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    width: 327px;
    margin-left: 0px;
    left: 0;
    margin: 0 auto;
    margin-top: 19px;
    transform: translate(-1px);
  }

  .gallery__bottom_btn {
    transform: translate(-2px, 156px);
  }

  .picture {
    height: 675px;

    .picture__pic_1 {
      width: 121.64px;
      height: 80.88px;
      left: 53px;
      top: 35px;
    }

    .picture__pic_2 {
      width: 156.13px;
      height: 104.08px;
      left: -26px;
      top: 97px;
    }

    .picture__pic_3 {
      width: 146px;
      height: 123px;
      top: 0px;
      left: 0px;
      display: block;
      background-image: url(../img/mainPage/picture_4_mobile.webp);
      width: 146px;
      height: 123px;
      left: 0px;
      top: 483px;
      background-size: contain;
    }

    .picture__pic_4 {
      /* width: 105.81px; */
      /* height: 70.21px; */
      /* left: 231px; */
      width: 105.81px;
      height: 70.21px;
      left: 22px;
      top: 460px;
      // background-image: url(../img/mainPage/picture_4_mobile.webp);
      display: block;
    }

    .picture__pic_5 {
      top: 0px;
      left: 0px;
      width: 105.81px;
      height: 70.21px;
      left: 231px;
      top: 616px;
    }

    .picture__pic_6 {
      top: 0;
      left: 0;
      width: 316.99px;
      height: 222.37px;
      left: 701px;
      top: 481px;
      width: 198.76px;
      height: 139.43px;
      left: 318px;
      top: 413px;
      background-image: url(../img/mainPage/picture_6_mobile.webp);
    }

    .picture__pic_8 {
      width: 172.06px;
      height: 114.21px;
      left: 297px;
      top: 112px;
    }
  }

  .picture__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    transform: translate(0, 290px);
  }

  .picture_descr {
    width: 288px;
    height: 72px;
    left: 0;
    top: 0;

    /* p1 / light / 14px */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    position: relative;
    z-index: 2;
    transform: translate(1px, 314px);
  }
  .phil__side_text {
    display: none;
    top: 116px;
    left: 24px;
  }
  .phil__img-2 {
    left: 87px;
  }
  .img_5 {
    transform: translate(0, 3px);
  }
}

//  Pixel-perfect - эта строчка кода для него
.chromeperfectpixel-layer-img {
  object-fit: contain !important;
}
