body.mainPage {
  position: relative;
}

.slide {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;

  .first-slide {
    min-width: 1227px;
    width: 100%;
    height: 744px;
    background: url("../img/mainPage/firstSlide.webp");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  img {
    min-width: 1227px;
    width: 100%;
    height: 744px;
  }

  .slide__content {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
    pointer-events: none;
    width: 1440px;
    * {
      pointer-events: all;
    }
  }
  .swiper__wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }
  .second-slide {
    background: url(../img/mainPage/secondSlide.webp);
    background-repeat: no-repeat;
    width: 100%;

    background: url(../img/mainPage/secondSlide.webp) -25px 0%/127% 100% no-repeat;

    background-size: 0/127%;
    background-position: -25px;
    height: 744px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-backdrop-filter: saturate(150%);
      backdrop-filter: saturate(150%);
    }
  }
}

.slider__title {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  @include fs(56);
  @include lh(68, 56);

  color: #ffffff;
  width: 492px;
  margin-top: 279px;
  margin-left: 263px;
}

.button-with-lines_mainPage {
  margin-left: 266px;
  margin-top: -8px;
}

.slide__pagination {
  display: flex;
  align-items: center;
  margin-left: 995px;
  margin-top: -22px;

  .slide__num {
    color: $textColor1;
    cursor: pointer;
    font-weight: 300;
  }

  img {
    cursor: pointer;
    min-width: 0px;
    width: 4px;
    height: 10px;
    position: static;

    margin-top: 0px;
  }

  img:first-of-type {
    margin-right: 11px;
  }

  img:last-of-type {
    margin-left: 12px;
  }

  .line {
    min-width: 0px;
    width: 186px;
    height: 1px;
    margin: 0 12px;
    margin-right: 17px;
  }
}

.slide__bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 200px;
  margin-left: -904px;

  .slide__language {
    display: flex;
    justify-content: space-between;
    width: 78px;

    .slide__lang {
      color: $textColor1;
    }
  }

  .slide__berlin {
    font-size: 16px;

    transform: translate(120px, 3px);
    width: 117px;
    height: 24px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1.15336px 1.22544px rgba(0, 0, 0, 0.2),
      inset 0px -0.288339px 0.0720847px rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border: none;
    border-radius: 8.70783px;

    img {
      width: initial;
      height: initial;
      max-width: initial;
      max-height: initial;
      min-height: initial;
      min-width: initial;
    }

    .point {
      transform: translate(-13px, 0px);
    }

    .arrow_bottom {
      transform: translate(17px, 0);
    }

    .Berlin {
      color: white;
      display: inline-block;
      transform: translate(-10px, -1px);
    }
  }

  .slide__tel {
    color: $textColor1;
    transform: translate(193px, 11px);
  }

  .slide__email {
    color: $textColor1;
    transform: translate(224px, 11px);
  }
}

.slide__ver-block {
  transform: rotate(270deg);
  position: relative;
  top: -824px;
  left: 593px;
  pointer-events: none;
}

.slide__ver-block-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;

  @include fs(11);
  @include lh(13, 11);

  letter-spacing: 0.06em;
  color: white;
  transform: translate(1px, 39px);
  pointer-events: all;
}

.slide__ver-block-text {
  // font-family: "Montserrat";
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  // font-size: 48px;
  // line-height: 47px;
  @include fs(48);
  @include lh(48, 47);
  letter-spacing: 0.04em;
  color: white;
  width: 200px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  pointer-events: all;
}
.phil {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  height: 1257px;
}

.phil > img:hover {
  transition: 0.3s all;
  transform: scale(1.2);
}

.phil > img {
  transition: 0.3s all;
}

.phil__descr_wrapper {
  margin-left: 196px;
  margin-top: 198px;
  display: inline-block;
  font-size: 16px;
  width: 515px;

  .phil__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    @include fs(36);
    @include lh(36, 44);
    color: #080808;
    // margin-left: 134px;
    // margin-top: 220px;
  }

  .phil__descr {
    font-family: "Montserrat";
    width: 515px;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875em;
    line-height: 1.71em;
    color: #080808;
    opacity: 0.7;
    margin-top: 1px;
    display: inline-block;
    min-height: 85px;
  }

  .phil__descr_1 {
    // margin-top: -4px;
  }
}

.phil__img-1 {
  position: absolute;
  right: 0px;
  top: 139px;
}

.phil__img-2 {
  z-index: 2;
  bottom: 44px;
  left: 426px;
  position: relative;
}

.phil__img-3 {
  right: 94px;
  top: 301px;
  position: relative;
}

.phil__button {
  margin: 0 auto;

  transform: translate(-420px, 41px);

  &_black {
    color: $textColor2;
  }

  .phil__hor_line {
    background: rgba(49, 49, 49, 0.2);
  }
}

.phil__quote {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25em;
  @include lh(44, 36);
  color: #080808;
  margin-left: 795px;
  margin-top: 78px;
}

.phil__text-bottom {
  width: 380px;
  height: 137px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  @include fs(20);
  line-height: 170.66%;
  color: #080808;
  opacity: 0.7;
  margin-left: 845px;

  margin-top: -61px;
  display: inline-block;
}

.gallery {
  width: 1440px;
  height: 3118px;
  margin: 0 auto;
  margin-top: 100px;
  background: radial-gradient(50% 50% at 50% 50%, #0f0f0f 0, #080808 100%);
  display: inline-block;
  font-size: 16px;
}

.gallery_content_wrapper {
  display: block;
  color: white;
  width: 735px;
  /* margin-top: 147px; */
  margin: 0 auto;
  margin-top: 141px;
}

.gallery__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25em;
  @include lh(44, 36);
  color: #ffffff;
  width: 236px;
  margin: 0 auto;
}

.gallery__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 0.875em;
  @include lh(24, 14);
  text-align: center;
  color: #828282;
  width: 449px;
  margin: 0 auto;
  margin-top: 31px;
  text-align: center;
}

.gallery__text_opacity {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  @include fs(56);
  @include lh(68, 56);
  color: #ffffff;
  opacity: 0.06;
  margin-top: 88px;

  .fade-text {
    opacity: 0.001;
    transition: 0.5s all;
  }

  .fade-text:hover {
    opacity: 1;
    transition: 0.5s all;
  }
}

.gallery__imgs_template {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 653px;
  width: 1314px;
  grid-gap: 8px;

  margin: 0 auto;
  margin-top: -81px;
}
.gallery__imgs_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    transition: 0.3s all;
  }
  img:hover {
    transition: 0.3s all;
    transform: scale(1.21);
  }
}

.gallery__imgs_wrapper.pic_3 {
  display: grid;
  grid-column: 1/3;
}

// .gallery__text_opacity:hover {
//   opacity: 0.06;
//   transition: 0.5s all;
// }
.gallery__bottom {
  position: relative;
  width: 1051px;
  margin: 0 auto;
  .gallery__bottom_side_text_bottom {
    transform: translate(-171px, 54px);
  }
  .gallery__bottom_line {
    margin-left: 15px;
    margin-top: 79px;
  }
}

.gallery__bottom_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  width: 424px;
  margin-top: 174px;
  margin-left: 2px;
  position: relative;
  z-index: 1;
}

.gallery__bottom_collage {
  position: absolute;
  top: -66px;
  left: 141px;
  z-index: 0;
  transition: 0.3s all;
}

.gallery__bottom_collage:hover {
  transform: scale(1.1);
  transition: 0.3s all;
}

.gallery__bottom_descr {
  position: absolute;
  width: 339px;
  height: 96px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  right: 3px;
  margin-top: -11px;
}

.gallery__bottom_btn {
  background: white;
  transform: translate(710px, 130px);
}

.picture {
  position: relative;
  width: 1440px;
  height: 814px;

  img {
    transition: 0.3s;
  }

  img:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
}

.picture__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #080808;
  /* margin-top: 346px; */
  text-align: center;
  /* display: inline-block; */
  /* margin: auto; */
  margin: 0px;
  transform: translate(0px, 346px);
}

.picture_descr {
  width: 390px;
  height: 37px;
  left: 525px;
  top: 5652px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #080808;
  opacity: 0.6;
  margin: 0 auto;
  margin-top: -42px;
  text-align: center;
  transform: translate(0px, 403px);
}

.picture__pic_1 {
  position: absolute;
  top: 0px;
  left: 80px;
}

.picture__pic_2 {
  position: absolute;
  left: 0px;
  top: 121px;
}

.picture__pic_3 {
  position: absolute;
  top: 501px;
  left: 214px;
}

.picture__pic_4 {
  position: absolute;
  bottom: 0px;
}

.picture__pic_5 {
  bottom: 0px;
  position: absolute;
  left: 709px;
}

.picture__pic_6 {
  position: absolute;
  right: 0px;
  top: 364px;
}

.picture__pic_7 {
  position: absolute;
  right: 47px;
  top: 2px;
}

.picture__pic_8 {
  position: absolute;
  top: 0px;
  left: 709px;
}

@media screen and (max-width: 1439px) {
  .slider__title {
    font-size: 48px;
    line-height: 59px;
    margin-left: 160px;
    width: 425px;
    margin-top: 284px;
  }

  .button-with-lines_mainPage {
    margin-left: 162px;
    margin-top: -13px;
  }

  .slide__pagination {
    margin-left: 627px;
    width: 284px;

    .line {
      width: 147px;
    }
  }
  .slide {
    .slide__content {
      width: 1024px;
      // width: 100%;
    }
  }

  .slide__pagination {
    margin-left: 400px;
    width: 300px;
  }

  .slide__ver-block {
    left: 200px;
  }

  .slide__bottom {
    width: 1024px;
  }

  .swiper {
    height: 710px;

    .first-slide {
      background: url("../img/mainPage/slider1_1024.webp");
    }
  }
}
