@import "./components/mixins";
@import "./vars";

.oneProjectPage {
  .common-btn {
    border-color: $textColor1;
  }
}

.oneProjectPage {
  overflow: hidden !important;
}

.one-project-gallery__wrapper:hover {
  transition: 0.3s;
  outline: 1px dashed black;
  outline-offset: -10px;
}
.one-project-gallery__wrapper {
  transition: 0.3s;
}

.project-top {
  background-image: url(../img/OneProjects/OneProjectImg.webp);
  width: 100vw;
  height: 744px;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  display: inline-block;
}
.project-top__content-wrapper {
  width: 1046px;
  margin: 0 auto;
  margin-top: 262px;
}
.project-top__text-wrapper {
  width: 539px;
}
.project-top__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}
.project-top__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 170.66%;

  color: #ffffff;

  margin-top: -9px;
  width: 462px;
}

.project-top__icons-wrapper {
  width: 337px;
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-top__icon-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-top__icon-content:nth-of-type(1) {
  flex: 0 0 107px;
}
.project-top__icon-content:nth-of-type(2) {
  flex: 0 0 88px;
}
.project-top__icon-content:nth-of-type(3) {
  flex: 0 0 78px;
}
.project-top__icon {
}
.project-top__icon-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  letter-spacing: 0.06em;

  /* 4 */

  color: #ffffff;

  opacity: 0.7;
}

.project-top__social-block-wrapper {
  display: flex;
  justify-content: space-between;
  left: 42px;
  width: 275.77px;
  bottom: 25px;
  position: absolute;
}
.project-top__socials-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 170.66%;
  /* identical to box height, or 24px */

  /* 4 */

  color: #ffffff;
}
.project-top__socials-img-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 7px;

  width: 120.77px;
}

.one-project-gallery {
  width: 1312px;
  margin: 138px auto 0;
}
.one-project-gallery__text-wrapper {
  width: 1045px;
  margin: 0 auto;
}
.one-project-gallery__title {
  width: 419px;

  /* H4 / bold / 16px */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  /* 1 */

  color: #080808;
}
.one-project-gallery__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  /* 1 */

  color: #080808;
  width: 715px;
  opacity: 0.7;
}

.one-project-gallery__btn {
  margin: 43px 0px 0px 2px;
  .button-with-lines_btn {
    color: black;
  }

  div {
    background: rgba(49, 49, 49, 0.2);
  }
}

.one-project-gallery-template {
  margin-top: 139px;
  grid-gap: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 652px 777px 652px;
}
.one-project-gallery__wrapper {
  width: 100%;
  height: 100%;
}
.one-project-gallery__wrapper:first-of-type {
  display: grid;
  grid-column: 1/3;
}

.one-project-gallery__wrapper:last-of-type {
  display: grid;
  grid-column: 1/3;
}
.one-project-gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.one-project-gallery__bottom-btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.06em;

  /* 1 */

  color: #080808;
  width: 204px;
  height: 48px;
  left: 618px;
  top: 3483px;

  /* 4 */

  background: #fcfcfc;

  /* 1 */

  border: 1px solid #acacac;
  box-sizing: border-box;
}

.one-project-gallery__bottom-btn {
  margin: 0 auto;
  display: block;
  margin-top: 80px;
}

.one-project-gallery__bottom-btn:hover {
  border: 1px dashed #acacac;
}

.one-project__collage-block {
  height: 1321px;
  background-color: black;
  width: 100%;
  padding-top: 3px;
  margin: 140px auto;

  .gallery__bottom_side_text_bottom {
    display: none;
  }
}
.oneProjectPage {
  .gallery__bottom_btn {
    transform: translate(710px, 131px);
  }
}

.one-project__collage-block_bottom {
  margin-top: 308px;
}

.one-project__collage-block_bottom_title {
  font-weight: 700;
  font-size: 8px;
  line-height: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #828282;
  width: 92px;
  margin: 0 auto;
  transform: translate(1px);
}

.one-project__collage-block_bottom_descr {
  width: 371px;
  height: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 73px;
  color: #ffffff;
  margin: 0 auto;
}

.one-project__collage_bottom_img {
  margin: 143px auto;
  display: block;
  width: 1314px;
  height: 604px;
  position: relative;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1439px) {
  .project-top {
    background-image: url(../img/OneProjects/oneProjectImg-1_laptop.webp);
    height: 703px;
  }
  .project-top__content-wrapper {
    width: 707px;
    margin: 232px auto 0;
  }

  .project-top__title {
    font-size: 32px;
    line-height: 39px;
  }

  .project-top__descr {
    margin-top: -4px;
  }

  .project-top__icons-wrapper {
    margin-top: 42px;
  }

  .project-top__social-block-wrapper {
    left: 56px;
    width: 223.77px;
    bottom: 18px;
  }

  .one-project-gallery {
    width: 912px;
    margin: 123px auto 0;
  }

  .one-project-gallery__text-wrapper {
    width: 707px;
    .button-with-lines {
      transform: translate(1px, 22px);
    }
  }

  .one-project-gallery-template {
    grid-template-rows: 454px 544px 454px;
    margin-top: 144px;
  }

  .one-project-gallery__bottom-btn {
    margin: 65px auto 0;
  }

  .one-project__collage-block {
    height: 1203px;
    margin: 125px auto;
    padding-top: 4px;
    .gallery__bottom_btn {
      transform: none;
      margin: 0 auto;
      display: block;
      transform: translate(0, 164px);
    }
    .gallery__bottom_side_text_bottom {
      transform: translate(-267px, 23px);
      display: block;
    }
  }

  .one-project__collage-block_bottom_title {
    width: 83px;
    margin: 0 auto;
    transform: translate(0px, -5px);
  }

  .one-project__collage-block_bottom_descr {
    width: 332px;
    font-size: 32px;
    line-height: 39px;
    margin-top: 8px;
  }

  .one-project__collage_bottom_img {
    width: 912px;
    height: 424px;
    margin: 93px auto;
    margin-bottom: 0;
  }

  .one-project__collage-block {
    overflow: hidden;
    margin-bottom: 0;
  }
  .one-project-gallery__descr {
    width: 598px;
  }

  .one-project-gallery__btn {
    margin: 19px 0 0 2px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .one-project-gallery__descr {
    width: 598px;

    transform: translate(0, -2px);
  }
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .oneProject {
    .header__logo {
      transform: translate(6px, -5px);
    }
  }
}
@media screen and (max-width: 1023px) {
  .project-top {
    height: 959px;
    background-size: cover;
    background-position: -315px;
  }

  .project-top__content-wrapper {
    width: 520px;
    margin: 368px auto 0;
  }

  .project-top__icons-wrapper {
    margin-top: 25px;
  }

  .project-top__social-block-wrapper {
    width: 196.77px;
    bottom: 18px;
    left: 48px;
  }

  .one-project-gallery {
    width: 672px;
    margin: 102px auto 0;
  }

  .one-project-gallery__text-wrapper {
    width: 518px;
  }

  .one-project-gallery__title {
    letter-spacing: 0.002em;
  }

  .one-project-gallery__descr {
    width: 520px;
    margin-top: 22px;
  }

  .one-project-gallery__btn {
    margin: 21px 0 0 2px;
  }

  .one-project-gallery-template {
    grid-template-rows: 334px 400px 334px;
    margin-top: 126px;
  }

  .one-project-gallery__bottom-btn {
    margin: 55px auto 0;
  }

  .one-project__collage-block {
    height: 1203px;
    margin: 103px auto 0;
    padding-top: 7px;
    height: 966px;
  }

  .one-project__collage-block {
    .gallery__bottom_side_text_bottom {
      transform: translate(-147px, 38px);
      display: block;
    }
    .gallery__bottom_btn {
      transform: translate(0, 144px);
    }
  }
  .gallery__bottom_descr {
    transform: translate(0px, -3px);
  }

  // .one-project__collage-block_bottom {
  //   margin-top: 270px;
  //   margin-bottom: 0;
  // }

  .gallery__bottom_text {
    line-height: 137.4%;
  }

  .one-project__collage-block_bottom {
    margin-top: 270px;
  }

  .one-project__collage_bottom_img {
    margin: 67px auto 0;
  }

  .one-project__collage_bottom_img {
    width: 672px;
    height: 267px;
  }
}

@media screen and (max-width: 767px) {
  .project-top {
    height: 542px;
    background-position: -206px;
  }

  .project-top__content-wrapper {
    width: 330px;
    margin: 106px auto 0;
  }

  .project-top__title {
    font-size: 26px;
    line-height: 32px;
  }

  .project-top__descr {
    font-size: 14px;
    line-height: 170.66%;
    width: 324px;
  }

  .project-top__icons-wrapper {
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 135px;
    gap: 5px;
  }

  .project-top__social-block-wrapper {
    width: 180.77px;
    bottom: 11px;
    left: 25px;
  }

  .one-project-gallery {
    width: 327px;
    margin: 79px auto 0;
  }

  .one-project-gallery__title {
    width: 100%;
  }

  .one-project-gallery__descr {
    width: 100%;
    margin-top: 20px;
  }

  .one-project-gallery-template {
    grid-template-rows: 163px 392px 392px 163px;
    margin-top: 102px;
    grid-template-columns: 1fr;
  }

  .one-project-gallery__wrapper {
    grid-column: 1 !important;
  }

  .one-project-gallery__bottom-btn {
    width: 183px;
    height: 42px;
  }

  .one-project-gallery__text-wrapper {
    width: 100%;
  }

  .one-project-gallery__bottom-btn {
    margin: 48px auto 0;
  }

  .one-project__collage-block {
    height: 786px;
    margin: 80px auto 0;
    padding: 0;

    .gallery__bottom_btn {
      margin: 0;

      transform: translate(-3px, 155px);

      font-size: 11px;
    }
  }

  .gallery__bottom_text {
    line-height: 31.9px;

    transform: translate(-3px, 0px);
  }

  .gallery__bottom_descr {
    transform: translate(-3px, -1px);
  }

  .one-project__collage-block_bottom {
    margin-top: 253px;
  }

  .one-project__collage-block_bottom_descr {
    font-size: 26px;
    width: 271px;
    margin-top: -2px;
  }

  .one-project__collage_bottom_img {
    width: 327px;
    height: 200px;
    margin: 41px auto 0;
  }

  .project-top__descr {
    transform: translate(0, -3px);
  }

  .project-top__icons-wrapper {
    margin-top: 23px;
  }
}
