.body {
  height: 6000px;
}

.news-top {
  position: relative;
  width: 100%;
  margin-top: 209px;
}

.news-top__text-wrapper {
  position: relative;
  width: 1045px;
  margin: 0 auto;
}
.news-top__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  width: 470px;
  letter-spacing: 0.001em;
  /* 1 */

  color: #080808;
}
.news-top__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  /* 1 */

  color: #080808;

  width: 708px;
  margin-top: -10px;

  opacity: 0.7;
}

.news-top__share {
  top: 8px;
  width: 122.77px;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170.66%;
    /* identical to box height, or 24px */

    /* 1 */

    color: #080808;
  }

  .news-top__logos {
    margin-top: 12px;
    width: 120.77px;
    display: flex;
    justify-content: space-between;
  }
}
.news-img_1 {
  margin: 0 auto;
  margin-top: 97px;
  display: block;
}

.news-top__tagline {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  width: 419px;
  margin-bottom: 0;
  margin-top: 96px;
}

.news-top__text-wrapper_2 {
  .news-top__descr {
    width: 710px;
    margin-top: 14px;
  }

  .news-top__descr:nth-of-type(2) {
    margin-top: 40px;
  }

  .news-top__ol {
    margin-top: 42px;
    padding: 0;
  }
}

.news-top__ol {
  width: 531px;
  li {
    font-weight: 300;
    font-size: 14px;
    line-height: 170.66%;
    margin-bottom: 12px;
  }
  li::first-letter {
    font-weight: 500;
  }
}

.news-top__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1312px;
  margin: 0 auto;
  margin-top: 100px;
  grid-template-rows: 653px 777px;
  grid-gap: 8px;
}
.news-top__img-wrapper:first-of-type {
  display: grid;
  grid-column: 1/3;
}
.news-top__img-wrapper {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  img:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }
}

.news-top__text-wrapper_3 {
  margin-top: 94px;
  transform: translate(0, -2px);
  .news-top__descr {
    margin-top: 16px;
    width: 721px;
    line-height: 24px;
  }
  .news-top__ol {
    padding: 0;
    margin-top: 40px;

    li {
      img {
        margin-right: 6px;
      }
    }
  }

  .news-top__descr:nth-of-type(2) {
    margin-top: 41px;
  }
  .hor-line {
    width: 100%;
    height: 1px;
    background: #828282;
    opacity: 0.16;
    margin-top: 98px;
  }
}

.news-bottom {
  position: relative;
  width: 100%;
  margin-top: 138px;
}

.news-bottom__content {
  margin: 0 auto;
  width: 1036px;
}

.news-bottom_sideBtn {
  left: 40px;
}

.news-bottom__pic-wrapper {
  /* width: 1408px; */
  //   padding-left: 202px;
  //   margin-top: 72px;
  /* margin: 0 auto; */
}
.news-bottom__pic {
  width: 316px;
  height: 389px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.news-bottom__text-wrapper {
  width: 293px;
}
.news-bottom__name {
  width: 293px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  margin-top: 24px;

  color: #3a3e4b;
}
.news-bottom__date {
  font-weight: 300;
  font-size: 10px;
  line-height: 17px;

  width: 100%;

  color: #828282;
}

.swiper-wr {
  padding-left: 201px;
  padding-top: 36px;
}
.swiper-slide {
  // margin-right: 55px;
}
.news-bottom__pic-wrapper {
}

.news-bottom__pic-wrapper {
  width: 315px;
}

.one-news {
  width: 315.482px;
  margin-right: 48px;
}
