@import "fonts";
@import "reset";
@import "vars";
@import "components/_mixins.scss";
@import "components/compontentBtn.scss";
@import "components/DiscoverBtn.scss";
@import "header";
@import "mainPage";
@import "../../node_modules/swiper/swiper-bundle.css";

body {
  font-family: "Montserrat";
  position: relative;
}

button {
  cursor: pointer;
}
